* {
  margin: 0;
  padding: 0; }

.container {
  height: 100%;
  background-color: #dbe5f9; }

.m-cont {
  background-color: #fff9df; }

.m-menu {
  background-color: #e9b53b; }

form {
  background-color: #d1e0ff; }

.form-group {
  background-color: #e8ffe0; }

/*# sourceMappingURL=2.css.map */
