html, body {
  overflow-x: hidden;
  background-color: #eeeeee; }

#banner {
  height: 200px;
  background-color: #777777;
  text-align: center; }

div .m-content {
  background-color: #9acfea;
  height: 100%; }
div .r-menu {
  background-color: #1b6d85; }

/*# sourceMappingURL=main.css.map */
