* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  background-color: #dbe5f9;
}
.m-cont {
  background-color: rgb(255, 249, 223);
}
.m-menu {
  background-color: rgb(233, 181, 59);
}

form {
  background-color: #d1e0ff;
  input {
  }
}

.form-group {
  background-color: #e8ffe0;
}