* {
  background-color: #e8e8e8;
}

body {
  height: 100%;
  font-family: andika, sans-serif;
}
.m-menu {
  background-color: #1b6d85;
}
.m-content {
  background-color: #fcf8e3;
}
.m-news {
  background-color: #c0a16b;
}