@import "variables";
html, body {
  overflow-x: hidden;
  background-color: $gray-lighter;
}
#banner {
  height: 200px;
  background-color: $gray-light;
  text-align: center;
}
div {
  .m-content {
    background-color: #9acfea;
    height: 100%;
  }
  .r-menu {
    background-color: #1b6d85;
  }
}